/* [기본 스크롤바 스타일] */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0, 0, 0, 0.4);
}

html {
    scrollbar-gutter: stable;
}

/* [기본 바디 스타일] */
body {
    font-family: 'Pretendard', sans-serif;
    margin: 0;
    background-color: #f9fafb;
    color: #222;
    overflow-x: hidden; /* 가로 스크롤 방지 */
}

a {
    text-decoration: none;
}

/* [라인 스타일] */
line {
    display: block;
    width: 1200px;
    height: 1px;
    background-color: #e5e7eb;
    margin: 50px auto;
}

lengthline {
    display: block;
    width: 1px;
    height: 80%;
    background-color: #00000050;
}

/* [헤더 스타일] */
header {
    color: #fff;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(3px);
    background-color: #00000044;
}
header div {
    height: 100%;
    display: flex;
    align-items: center;
}
#header{
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    padding: 0px 32px;
    margin: 0px auto;
}
#header-title{
    font-weight: bold;
    font-size: 24px;
    background-image: url('media/header-logo.png');
    background-size: 100%;
    width: 90px;
    height: 30px;
}
#btnsection{
    gap: 25px;
}
.header-btn{
    color: #fff;
    font-weight: bold;
}

/* [비디오 섹션] */
.video-section {
    position: relative;
    height: 800px;
    overflow: hidden;
    background-color: #000;
}
.video-section iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(15%);
    z-index: 0;
    pointer-events: none;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 0 16px;
    background-image: url('media/pattern.png');
    background-repeat: repeat;
}
.video-overlay h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

/* [공통 섹션 스타일] */
section {
    width: 100%;
}
.section {
    max-width: 1400px;
    margin: 0px auto;
    padding: 88px 40px;
}
.section .title {
    letter-spacing: -0.8px;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.section .expl {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.8px;
    text-align: center;
    color: #000000bb;
}
.section .btn {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
.section h2 {
    font-size: 32px;
    margin-bottom: 16px;
}
.section ul {
    list-style: none;
    padding: 0;
}
.section li {
    margin-bottom: 12px;
}

/* [카드 스타일] */
.section .card {
    width: 310px;
    height: 270px;
    border-radius: 25px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #f3f3f3;
    border: #eee 1px solid;
    padding: 39px;
    transition-duration: 0.25s;
}
section .card:hover {
    border: #dddfff 1px solid;
    box-shadow: 0px 0px 5px #d1e6ff;
    padding: 39px;
    transform: translateY(-10px);
}
.card .card-image{
    border-radius: 5px;
    width: 310px;
    height: 170px;
    background-color: #ccc;
    background-size: 100%;
    margin-bottom: 20px;
    box-shadow: inset 0 0 15px #00000022;
}
.card .card-title{
    font-size: 32px;
    font-weight: bold;
    color: #222;
    letter-spacing: -0.5px;
    height: 40px;
}
.card .card-expl{
    font-size: 18px;
    color: #444;
    letter-spacing: -0.5px;
    height: 65px;
}
.card a{
    float: left;
    width: 145px;
}
.card .card-btn{
    width: 145px;
    margin-top: 10px;
    font-size: 16px;
    letter-spacing: -0.5px;
    color: #0077ff;
    font-weight: 500;
    transition-duration: 0.25s;
}
.card .card-btn:hover{
    color: #55a4ff;
}

/* [리스트 및 기타 요소] */
.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 40px auto 0px auto;
}
.list-section{
    text-align: center;
    width: 800px;
    padding: 25px 25px 100px 25px;
    border: #f3f3f3 2px solid;
    box-shadow: 0px 0px 10px #f3f3f3;
    background-color: #fff;
    margin-bottom: -150px;
    transition-duration: 0.25s;
}
.list-section.right:hover{
    transform: translateY(-60px) rotate(1deg);
}
.list-section.left:hover{
    transform: translateY(-60px) rotate(-1deg);
}
.gradient-fin{
    width: 100%;
    box-shadow: 0px -20px 50px 20px #f9fafb;
    background-color: #f9fafb; 
    height: 150px;
    margin-bottom: -100px;
}
.list-title{
    background-position: center;
    background-size: 150%;
    height: 60px;
    margin-bottom: 10px;
}
.list-expl{
    font-size: 18px;
    color: #444;
    letter-spacing: -0.7px;
}

/* [팀 컨테이너] */
.team-container {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    background-color: #fff;
    letter-spacing: -0.7px;
}
.member-list {
    display: flex;
    flex-direction: column;
    width: 100px;
}
.member-list button{
    color: #0077ff;
    width: 100%;
    height: 50px;
    border: 1px solid #0077ff;
    background-color: #fff;
    transition-duration: 0.25s;
}
.member-list button:hover {
    background-color: #0077ff;
    color: #fff;
    font-weight: bold;
}
.member-list button.active {
    background-color: #0077ff;
    color: #fff;
    font-weight: bold;
}
.member-detail {
    display: flex;
    pointer-events: auto;
    width: 1100px;
    height: 400px;
    gap: 20px;
}
.member-image{
    width: 100px;
    height: 100px;
    background-size: 100%;
    background-color: #ccc;
}
.member-info{
    width: 690px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.member-grade{
    font-size: 20px;
    color: #777;
}
.member-name{
    font-size: 24px;
    font-weight: bold;
}
.member-expl{
    font-size: 20px;
    font-weight: bold;
}
.member-qna{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}

/* [보드 및 캐릭터(통계)] */
.board{
    margin: 40px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.section .char {
    width: 300px;
    height: 70px;
    text-align: center;
}
.char .char-title{
    font-weight: bold;
    font-size: 40px;
    letter-spacing: -2px;
}
.char .char-expl{
    font-size: 18px;
}

/* [버튼 스타일] */
.section-btn{
    width: 100%;
    background-color: #0077ff;
    text-align: center; color: #fff;
    padding: 10px 0px;
    transition-duration: 0.25s;
}
.section-btn:hover{
    background-color: #55a4ff;
}
.main-title{
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 3px;
    background: linear-gradient(180deg, #fff 50%, #555555 95%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.main-expl{
    font-size: 24px;
}
.main-btn{
    color: #fff;
    background-color: #0077ff;
    transition-duration: 0.25s;
    padding: 10px 20px;
    border-radius: 5px;
}
.main-btn:hover{
    background-color: #55a4ff;
}
.contact-btn{
    color: #fff;
    background-color: #0077ff;
    transition-duration: 0.25s;
    padding: 20px 30px;
    border-radius: 50px;
    width: 180px;
    text-align: center;
}
.contact-btn:hover{
    background-color: #55a4ff;
}

/* [필터 버튼 및 카테고리] */
.select-buttons{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
}
.select-buttons button{
    height: 50px;
    background-color: #f9fafb;
    border: 1px #0077ff solid;
    border-radius: 50px;
    padding: 10px 25px;
    color: #0077ff;
    font-size: 16px;
    letter-spacing: -0.5px;
    transition-duration: 0.25s;
}
.select-buttons button:hover {
    font-weight: bold;
    background-color: #0077ff;
    color: #fff;
}
.select-buttons button.active {
    font-weight: bold;
    background-color: #0077ff;
    color: #fff;
}

.category{
    display: none;
    width: 1400px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    letter-spacing: -0.6px;
}
.category.thumbnail .item{
    width: 304px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000022;
    font-size: 16px;
    text-align: center;
    transition-duration: 0.25s;
}
.category.thumbnail .item:hover{
    height: 194px;
    font-size: 14px;
    box-shadow: 0px 0px 10px #00000066;
    transform: scale(1.25);
}
.category.video .item{
    width: 560px;
    height: 344px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000022;
    font-size: 16px;
    text-align: center;
    transition-duration: 0.25s;
}
.category.community .item{
    width: 752px;
    height: 452px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #00000022;
    font-size: 16px;
    text-align: center;
    transition-duration: 0.25s;
}
.item_thumbnail{
    width: 304px;
    height: 171px;
}
.item_community{
    width: 752px;
    height: 423px;
}
.item_info{
    display: flex;
    justify-content: center;
    gap: 10px;
    font-weight: 400;
}
.item_info .maker{
    font-weight: bold;
}

/* [푸터] */
footer {
    text-align: center;
    padding: 2rem;
    background-color: #e5e7eb;
    font-size: 15px;
    color: #4b5563;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s ease-out forwards;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInUp2 {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 스크롤 등장 애니메이션*/

.animate-on-scroll {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    will-change: opacity, transform;
}

.animate-on-scroll.is-visible {
    animation: fadeInUp2 1s ease-out forwards;
}

.delay-100 { transition-delay: 0.1s; }
.delay-200 { transition-delay: 0.2s; }
.delay-300 { transition-delay: 0.3s; }